<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (productOrder) {
      <div>
        <h2 data-cy="productOrderDetailsHeading"><span jhiTranslate="onlineMarketApp.productOrder.detail.title">Product Order</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ productOrder.id }}</span>
          </dd>
          <dt><span jhiTranslate="onlineMarketApp.productOrder.quantity">Quantity</span></dt>
          <dd>
            <span>{{ productOrder.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="onlineMarketApp.productOrder.totalPrice">Total Price</span></dt>
          <dd>
            <span>{{ productOrder.totalPrice }}</span>
          </dd>
          <dt><span jhiTranslate="onlineMarketApp.productOrder.product">Product</span></dt>
          <dd>
            @if (productOrder.product) {
              <div>
                <a [routerLink]="['/product', productOrder.product.id, 'view']">{{ productOrder.product.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="onlineMarketApp.productOrder.cart">Cart</span></dt>
          <dd>
            @if (productOrder.cart) {
              <div>
                <a [routerLink]="['/shopping-cart', productOrder.cart.id, 'view']">{{ productOrder.cart.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/product-order', productOrder.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
